/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor principal */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

/* Título */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Grupo de entrada */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 60%;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

/* Botón */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Botón de reinicio */
.reset-button {
  background-color: #dc3545;
  margin-bottom: 20px;
}

.reset-button:hover {
  background-color: #c82333;
}

/* Lista de conjeturas */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f8f9fa;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
